<header class="header-container">
    <img
      src="https://cdn.discordapp.com/attachments/925141150782869516/1308788797802152067/logo.png?ex=673f380d&is=673de68d&hm=d1f816b07a2ba2025c98f57c77514262dd0e6159f7529a2fcda25f2b72573721&"
      alt="logo"
      class="logo"
    >
    <nav class="menu">
      <div class="menu-itens">
        <a href="#">Inicio</a>
        <a href="#">Categoria</a>
        <a href="#">Cardápio</a>
        <a href="#">Localização</a>
        <a href="#">Contato</a>
      </div>
    </nav>
  </header>
  