<h1></h1>
<form>
    <div class="form-container">
   
      <div class="form-row">
        <label for="produto">Produto 1:</label>
        <input type="text" id="produto1" name="produto1">
  
        <label for="quantidade">Quantidade 1:</label>
        <input type="number" id="quantidade1" name="quantidade1">
      </div>
  
    
      <div class="form-row">
        <label for="produto">Produto 2:</label>
        <input type="text" id="produto2" name="produto2">
  
        <label for="quantidade">Quantidade 2:</label>
        <input type="number" id="quantidade2" name="quantidade2">
      </div>
      <div class="form-row">
        <label for="observacao">Observações:</label>
        <textarea id="observacao" name="observacao"></textarea>
      </div>
  
      <button type="submit">FINALIZAR</button>
    </div>
  </form>
  